<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Cuenta</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
                {% extends "base.html" %}
        
        {% block title %}Agregar Cuenta{% endblock %}
        
        {% block content %}
        <h2 class="text-center">Agregar Cuenta</h2>
        <form method="POST" class="mx-auto" style="max-width: 400px;">
            <div class="form-group">
                <label for="nombre">Nombre de la cuenta:</label>
                <input type="text" id="nombre" name="nombre" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="tipo">Tipo de cuenta:</label>
                <select id="tipo" name="tipo" class="form-control" required>
                    <option value="remunerada">Remunerada</option>
                    <option value="indexado">Indexado</option>
                    <option value="normal">Normal</option>
                    <option value="efectivo">Efectivo</option>
                </select>
            </div>
            <div class="form-group">
                <label for="saldo_inicial">Saldo inicial:</label>
                <input type="number" id="saldo_inicial" name="saldo_inicial" step="0.1" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Agregar Cuenta</button>
        </form>
        {% endblock %}
    </div>
</body>
</html>